 .btn-maintab {
    font-size: 16px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    width: 20%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white !important;
    background: #999;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
}
 .btn-activetab {
    font-size: 16px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    width: 20%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white !important;
    background: #56B4E9;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
}
.btn-maintab:hover {
    background-color:#56B4E9;
    font-size: 16px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    width: 20%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white !important;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
}
.btn-maintab:focus{
	color: white;
}