.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/firstSurvey/*.*
Data/firstSurvey/*.sav
Data/secondSurvey/*.*
Data/secondSurvey/*.pdf
Data/secondSurvey/*.docx
Data/secondSurvey/*.sav
shapeFiles/*.*
shapeFiles/*.gml
shapeFiles/*.cpg
shapeFiles/*.dbf
shapeFiles/*.prj
shapeFiles/*.sbn
shapeFiles/*.sbx
shapeFiles/*.shp
shapeFiles/*.xml
shapeFiles/*.shx
Data
*.RData